* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #C3CEDA;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

/* header */
.navbar {    
    background-color: #0C4160;
}

.nav-link {
    color: #FFF;
}
.nav-link:hover {
    color: #EEE;
}
.navbar-toggler {
    background-color: #C3CEDA;
}
footer {
    padding: 25px;
    background-color: #0C4160;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

footer p {
    text-align: center;
    color: #C3CEDA;
    font-size: medium;
}
/* Contenido */
.content {
    max-width: 1200px;
    padding: 0px 70px;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.descripcion {
    margin: 15px;
    text-align: left;
    letter-spacing: 2px;
    line-height: 45px;
}

.recuadro {
    padding: 10px ;
    border-radius: 5px;
    box-shadow: 5px;
}

.img-hover {
    transition: 1s;
}
.img-hover:hover {
    scale: 0.9;
}